@{
    ViewBag.Title = "About";
    ViewBag.Message = "Volunteer Management System";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is a web-based application that allows a nonprofit organization to collect volunteers’ information, track their participation in activities, and produce reports on their contributions made</p>