@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Infinite4 Team<br />
    Jacksonville, FL 32082<br />
    <abbr title="Phone">P:</abbr>
    904.982.7733
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">eric@infinite4.com</a><br />

</address>