@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Volunteer Management System (VMS)</h1>
    <p class="lead">Welcome to the VMS homepage!</p>

    <p>Already an administrator? @Html.ActionLink("Click to Log in!", "Login", "Home")</p>
    <p>Or @Html.ActionLink("Sign up!", "Register", "Home")</p>
</div>
