@{
    ViewBag.Title = "Welcome";
}
<h2>Welcome @Session["VUsername"].ToString() to your administrator page!</h2>

<br />
<h4><li>@Html.ActionLink("Manage Volunteers", "Index", "VPStatus")</h4></li>
<h4><li>@Html.ActionLink("Manage Opportunities", "Index", "Opportunity")</h4></li>