
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome @Session["VUsername"].ToString()</h2>


<div class="col-md-4">
    <h2> @Html.ActionLink("Volunteer", "Volunteer", "Home")</h2>
</div>
<div class="col-md-4">
    <h2> </h2>
</div>
<div class="col-md-4">
    <h2> @Html.ActionLink("Opportunity", "Opportunity", "Home")</h2>
</div>