
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome @Session["VUsername"].ToString()</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Volunteer</h2>
        <p>
            View
        </p>
        <p>
            Create
        </p>
        <p>
            Edit
        </p>
        <p>
            Delete
        </p>
    </div>
    
    <div class="col-md-4">
        <h2>Manage Opportunity</h2>
        <p>
            View
        </p>
        <p>
            Create
        </p>
        <p>
            Edit
        </p>
        <p>
            Delete
        </p>
    </div>
</div>